@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
/* font family*/
/* colors */
/* font type for week and day*/
/* media query*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  text-decoration: none;
  list-style: none;
}

@media (max-width: 1200px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #272b2e;
}

section .card {
  height: 30rem;
  width: 25rem;
  background: #34393e;
  border-radius: 20px;
  letter-spacing: 1px;
  transition: all 0.3s;
}

section .card .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: #d2d2d3;
  font-size: 0.7rem;
  height: 12vh;
  border-bottom: 2px solid #25292d;
}

section .card .top .top-month {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

section .card .top .top-month h2 {
  cursor: pointer;
}

section .card .top .top-month button {
  border: none;
  outline: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s;
  color: white;
  box-shadow: 6px 6px 13px #202325, -6px -6px 13px #2e3337, inset 6px 6px 13px #202325, inset -6px -6px 13px #2e3337;
  background: linear-gradient(145deg, #2a2e31, #232729);
}

section .card .top .top-month button:active {
  transform: scale(0.9);
  box-shadow: 6px 6px 13px #202325, -6px -6px 13px #2e3337;
  transition: all 0.2s;
}

section .card .top .top-month button .fas {
  color: #7d8083;
}

section .card .bottom .show-week {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s;
}

section .card .bottom .show-week #week {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.2rem;
  color: #cbcbcc;
  font-size: 0.7rem;
  font-weight: 600;
}

section .card .bottom .show-week #week li {
  width: 14%;
  text-align: center;
}

section .card .bottom .show-week #day {
  display: flex;
  flex-wrap: wrap;
  color: #cbcbcc;
  font-size: 0.7rem;
  font-weight: 600;
}

section .card .bottom .show-week #day li {
  width: 14%;
  text-align: center;
  padding: 1.2rem;
  color: #707477;
}

section .card .bottom .show-week #day .active-style {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

section .card .bottom .show-week #day .active-style:after {
  position: absolute;
  content: "";
  z-index: -1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(90deg, #bb250f 0%, #e95322 50%, #bb250f 100%);
  box-shadow: 2px 2px 7px #9f1f0d, -2px -2px 7px #d72b11;
}

section .card .bottom .show-week #day .hover {
  cursor: pointer;
}

section .card .bottom .show-week #day .hover:active {
  border: 1px solid #272b2e;
}

section .card .bottom .hide {
  opacity: 0;
  transition: all 0.3s;
  transform: translateY(4rem);
}

section .card .bottom .show-month {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.6rem;
  transition: all 0.3s;
  opacity: 0;
  transform: translateY(-20rem);
}

section .card .bottom .show-month li {
  width: 25%;
  padding: 1.6rem;
  text-align: center;
  cursor: pointer;
  color: #d2d2d3;
}

section .card .bottom .show-month li:hover {
  color: #bb250f;
}

section .card .bottom .show-month .month-highlight {
  background: linear-gradient(90deg, #bb250f 0%, #e95322 50%, #bb250f 100%);
}

section .card .bottom .active {
  opacity: 1;
  transition: all 0.3s;
}
/*# sourceMappingURL=index.css.map */